body {
    background-color: rgba(9, 37, 49, 0.867);
    color: #eee4ca;
}

#explorer li {
    list-style: none;
}

#explorer li:hover {
    color: #ED706E;
}

.folder-icon {
    background: url("resources/folder.svg");
    color: #ED706E;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: auto;
}

.file-icon {
    background: url("resources/file.svg");
    color: #ED706E;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: auto;
}