body {
    background-color: rgba(9, 37, 49, 0.867);
    color: #eee4ca;
}

p {
    margin: 0
}

#topbar {
    height: 25px;
    width: 100%;
    app-region: drag;
}

#explorer {
    width: 100%;
}

#explorer tr {
    list-style: none;
    display: block;
    height: 30px;
    margin: auto;
}

#explorer tr:hover {
    color: #ED706E;
    cursor: pointer;
}

#path {
    cursor: pointer;
    display: block;
}

.folder-icon {
    background: url("resources/folder.svg");
    color: #ED706E;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: auto;
}

.file-icon {
    background: url("resources/file.svg");
    color: #ED706E;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: auto;
}